<section id="widget-grid" class="">
	<div class="row">
		<div class="col-sm-3 col-md-2 col-lg-2"></div>
		<article class="col-sm-6 col-md-8 col-lg-8">
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">						
				<header>							
					<span class="widget-icon"> <i class="fa fa-user"></i> </span>
					<h2>Ingreso de Pacientes</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body">
						<form id="form-addEntries" class="form-horizontal">
							<fieldset>
								<div class="form-group row m-b-15">					
									<label class="col-md-4 control-label">Buscar Paciente</label>
									<div class="col-md-4">
										<input class="form-control ui-autocomplete-input" placeholder="D.N.I - Nombre, Apellido" type="text" id="search-patient" autocomplete="off">
									</div>
									<input type="button" class="btn btn-sm btn-primary m-r-5 form-control" value="Nuevo paciente" data-toggle="modal" data-target="#modalPatient" id="btn-addPatient">
								</div>
							</fieldset>					
							<fieldset>
								<div class="form-group row m-b-15">					
									<label class="col-md-4 control-label">Buscar Médico</label>
									<div class="col-md-4">
										<input class="form-control ui-autocomplete-input" placeholder="Matricula - Nombre, Apellido" type="text" id="search-doctor" autocomplete="off">
									</div>
									<input type="button" class="btn btn-sm btn-primary m-r-5 form-control" value="Nuevo médico" data-toggle="modal" data-target="#modalDoctor" id="btn-addnewDoctor">
								</div>
							</fieldset>				
							<fieldset>
								<div class="form-group row m-b-15">					
									<label class="col-md-4 control-label">Buscar Obra Social</label>
									<div class="col-md-4">
										<input class="form-control ui-autocomplete-input" placeholder="Codigo - Nombre" type="text" id="search-welfare" autocomplete="off">
									</div>
									<input type="button" class="btn btn-sm btn-primary m-r-5 form-control" value="Nueva Obra Social" data-toggle="modal" data-target="#modalWelfare" id="btn-addnewWelfare">
								</div>
							</fieldset>		
							<div class="form-actions text-center">
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-primary" onclick="AddEntry();" type="button" id="btn-addPatient">
											Ingresar
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
		<div class="col-sm-3 col-md-2 col-lg-2"></div>
	</div>
</section>		
<script src="assets/js/entries/add-entry.js"></script>

<div class="modal fade" id="modalPatient">
	<div class="modal-dialog">
	    <div class="modal-content">
    	  	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
	        	<h4 class="modal-title">Alta de Pacientes</h4>
	      	</div>
	      	<div class="modal-body">
						<form id="form-addModalPatients" class="form-horizontal">
							<fieldset>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">D.N.I. <span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input id="dni" onblur="CheckPatientInputs('dni', 'dni');" class="form-control" placeholder="XXXXXXXX" type="number" maxlength="6" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" autofocus required/>
										<div class="error-message error-dni"></div>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Nombre <span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<input id="firstname" class="form-control" placeholder="Nombre del paciente" type="text" required>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Apellido <span class="text-danger">*</span></label>
									<div class="col-md-4">	
										<input id="lastname" class="form-control" placeholder="Apellido del paciente" type="text" required>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Fecha de Nacimiento <span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input id="birthdate" class="form-control" type="date" required/>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="sex">Sexo <span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="sex" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="0">Hombre</option>
											<option value="1">Mujer</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Domicilio</label>
									<div class="col-md-4">	
										<input id="address" class="form-control" placeholder="Domicilio" type="text">
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Teléfono<span class="text-danger">*</span></label>
									<div class="col-md-4">	
										<input id="phone" class="form-control" placeholder="Teléfono" type="number" maxlength="10" min="1" max="9999999999" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"/>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Email</label>
									<div class="col-md-4">
										<input id="email" class="form-control" placeholder="Email" type="email">
									</div>
								</div>
							</fieldset>									
						</form>
        	</div>
      		<div class="modal-footer text-center">	      			
				<button class="btn btn-primary" onclick="AddPatient();" type="button" id="btn-addPatient">Ingresar Paciente</button>
			</div>
    	</div>
    </div>
</div>
<script src="assets/js/entries/patients/add-patient.js"></script>

<div class="modal fade" id="modalDoctor">
	<div class="modal-dialog">
	    <div class="modal-content">
    	  	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
	        	<h4 class="modal-title">Alta de Médicos</h4>
	      	</div>
	      	<div class="modal-body">
						<form id="form-addModalDoctors" class="form-horizontal">
							<fieldset>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Matrícula <span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input id="enrollment" onblur="CheckDoctorInputs('enrollment', 'enrollment');" class="form-control" placeholder="XXXXXX" type="number" maxlength="6" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" autofocus required/>
										<div class="error-message error-enrollment"></div>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="typeEnrollment">Tipo de Matrícula <span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="typeEnrollment" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="0">Provincial</option>
											<option value="1">Nacional</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Nombre <span class="text-danger">*</span></label>
									<div class="col-md-4">	
										<input id="doctor-firstname" class="form-control" placeholder="Nombre del médico" type="text" required>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Apellido <span class="text-danger">*</span></label>
									<div class="col-md-4">	
										<input id="doctor-lastname" class="form-control" placeholder="Apellido del médico" type="text" required>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Domicilio</label>
									<div class="col-md-4">	
										<input id="doctor-address" class="form-control" placeholder="Domicilio" type="text">
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Teléfono</label>
									<div class="col-md-4">	
										<input id="doctor-phone" class="form-control" placeholder="Teléfono" type="number" maxlength="10" min="1" max="9999999999" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"/>
									</div>
								</div>
							</fieldset>									
						</form>
        	</div>
      		<div class="modal-footer text-center">	      			
				<button class="btn btn-primary" onclick="AddModalDoctor();" type="button" id="btn-addModalDoctor">Ingresar Médico</button>
			</div>
    	</div>
    </div>
</div>
<script src="assets/js/doctors/add-doctor.js"></script>

<div class="modal fade" id="modalWelfare">
	<div class="modal-dialog">
	    <div class="modal-content">
    	  	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
	        	<h4 class="modal-title">Alta de Obra Social</h4>
	      	</div>
	      	<div class="modal-body">
						<form id="form-addModalWelfares" class="form-horizontal">
							<fieldset>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Código<span class="text-danger">*</span></label>
									<div class="col-md-2">
										<input id="code" class="form-control" onblur="CheckWelfareInputs('code', 'code');" placeholder="XXXX" type="text" maxlength="4" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" required>
										<div class="error-message error-code"></div>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Nombre<span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input id="name" class="form-control" onblur="CheckWelfareInputs('name', 'name');" placeholder="Nombre de la obra social" type="text" required>
										<div class="error-message error-name"></div>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="coveragePercentage">Porcentaje de Cobertura<span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input type="number" class="form-control" id="coveragePercentage" maxlength="3" placeholder="% de cobertura" required>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">Importe Boleta Mínima<span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input id="minimumAmount" class="form-control" placeholder="0.00" type="text" required>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="payAtHome">Domicilio<span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="payAtHome" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="1">Si</option>
											<option value="0">No</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="pmo">¿P.M.O.?<span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="pmo" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="1">Si</option>
											<option value="0">No</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="coinsurance">¿Cobra Coseguro?<span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="coinsurance" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="1">Si</option>
											<option value="0">No</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="serviceAvailable">¿Servicios Cortados?<span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="serviceAvailable" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="1">Si</option>
											<option value="0">No</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="completeNomenclator">¿Nomen. Completo?<span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="completeNomenclator" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="1">Si</option>
											<option value="0">No</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label" for="disposableMaterial">¿Reconoce 677?<span class="text-danger">*</span></label>
									<div class="col-md-4">			
										<select class="form-control" id="disposableMaterial" required>
											<option selected="" disabled="">Seleccione una opción</option>
											<option value="1">Si</option>
											<option value="0">No</option>
										</select> 
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 control-label">% (0 - 100)<span class="text-danger">*</span></label>
									<div class="col-md-4">
										<input id="percentage" class="form-control" type="number" min="0" max="100" required>										
									</div>
								</div>							
							</fieldset>							

							<fieldset>
								<legend class="text-center">Nomenclador INOS</legend>
								<section class="text-center">
									<input id="check-inos" type="checkbox">¿Habilita?</input>
								</section>
								<div class="row" hidden id="form-inos">
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label" for="inosReducido">¿INOS Reducido?</label>
										<div class="col-md-4">			
											<select class="form-control" id="inosReducido" required>
												<option selected="" disabled="">Seleccione una opción</option>
												<option value="1">Si</option>
												<option value="0">No</option>
											</select> 
										</div>
									</div>
								</div>
								<legend></legend>

								<legend class="text-center">Nomenclador FABA</legend>
								<section class="text-center">
									<input id="check-faba" type="checkbox">¿Habilita?</input>
								</section>								
								<div class="row" hidden id="form-faba">
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label">Valor Nivel A</label>
										<div class="col-md-4">
											<input id="aValue" class="form-control" placeholder="00.00" type="text" required>
										</div>
									</div>
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label">Valor Nivel B</label>
										<div class="col-md-4">
											<input id="bValue" class="form-control" placeholder="00.00" type="text" required>
										</div>
									</div>
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label">Valor Nivel C</label>
										<div class="col-md-4">
											<input id="cValue" class="form-control" placeholder="00.00" type="text" required>
										</div>
									</div>
								</div>
								<legend></legend>

								<legend class="text-center">Nomenclador NBU</legend>
								<section class="text-center">
									<input id="check-nbu" type="checkbox">¿Habilita?</input>
								</section>			
								<div class="row" hidden id="form-nbu">
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label">Valor N.B.U.</label>
										<div class="col-md-4">
											<input id="nbuValue" class="form-control" placeholder="00.00" type="text" required>
										</div>
									</div>
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label" for="comments">Comentarios</label>
										<div class="col-md-5">
											<textarea class="form-control" id="comments" maxlength="500" placeholder="Comentarios" rows="4" style="resize: none;"></textarea>
										</div>
									</div>	
									<div class="form-group row m-b-15">
										<label class="col-md-4 control-label" for="internalComments">Comentarios Internos</label>
										<div class="col-md-5">
											<textarea class="form-control" id="internalComments" maxlength="500" placeholder="Comentarios" rows="4" style="resize: none;"></textarea>
										</div>
									</div>
								</div>
								<legend></legend>
							</fieldset>									
						</form>
        	</div>
      		<div class="modal-footer text-center">	      			
				<button class="btn btn-primary" onclick="AddModalWelfare();" type="button" id="btn-addModalWelfare">Ingresar Obra Social</button>
			</div>
    	</div>
    </div>
</div>
<script src="assets/js/welfares/add-welfare.js"></script>