.error-message p {
	color: red;
}

.fa-reorder {
	padding: 4px 5px 5px 5px;
}

.fa-sign-out {
	padding: 4px 5px 5px 5px;
}

.icon-logout{
	color: red;
}

#btn-addNewPatient {
  position: relative;
  text-align: center;
  width: auto;
}

#btn-addNewDoctor{
  position: relative;
  text-align: center;
  width: auto;
}

#btn-addNewWelfare{
  position: relative;
  text-align: center;
  width: auto;
}

.modal-header{
  background-color: #474544;
  color: white;
}