<section id="widget-grid" class="">
			<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
				<article class="col-sm-12 col-md-12 col-lg-12">
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
						<header>
							<span class="widget-icon"> <i class="fa fa-list"></i> </span>
							<h2>Listado de Usuario</h2>
						</header>
						<!-- widget div-->
						<div>
							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->
							</div>
							<!-- end widget edit box -->
							<!-- widget content -->
							<div class="widget-body no-padding">
								<form id="form-listado" action="listado-usuarios-pdf.php" action="POST" target="_blank">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Nombre</th>
												<th>Apellido</th>
												<th>Usuario</th>
												<th>Email</th>											
												<th>Fecha de Nacimiento</th>
												<th>Rol</th>
											</tr>
										</thead>
										<tbody id="listUser"></tbody>									
									</table>
									<div class="text-center">
                    <div class="col-sm-5" id="paginated"></div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="data-table-default_paginate">
                            <ul class="pagination" id="btn-page">
                            </ul>
                        </div>
                    </div>									
									</div>
								</form>
							</div>
							<!-- end widget content -->
						</div>
						<!-- end widget div -->
					</div>
					<!-- end widget -->
				</article>
			</div>
		</article>
	</div>
</section>